<div class="page-header jumbotron">
  <div class="container">
    <h1 class="how-do-you-feel">About #feels</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1>Waste time on Twitter.</h1>
    <h1>Without the emotional whiplash.</h1>

    <h3>#feels makes it easy to make you feel more of what you're feeling right now.</h3>

    <h3><%= link_to "Tell us how you feel", root_path %>, and we'll give you a trend to check out.</h3>
  </div>
    <hr>
  <div class="row">
    <div class="col-md-7">
      <p>#feels was developed in March 2016 by <a href="http://rickycodes.wordpress.com">Ricky Hougland</a> for their capstone project as a student at <a href="http://adadevelopersacademy.org">Ada Developer's Academy</a>.</p>
      <p>In four weeks, they built an API that serves up a trending topic on Twitter with a positive or negative sentiment. The front end was built in Rails.</p>
      <p>Their main focus was learning new technologies, most notably Go, Postgres, and deployment through AWS EC2 and Elastic Beanstalk.</p>
    </div>
    <div class="col-md-1 icon-github">
      <h1><i class="fa fa-github"></i></h1>
    </div>
    <div class="col-md-4">
      <h3 class="github-links"><a href="http://github.com/hougland/hashtagfeelings" target="_blank">Go API</a></h3>
      <h3><a href="http://github.com/hougland/hashtagfeelings-rails" target="_blank">Rails front-end</a></h3>
    </div>
  </div>
</div>
