<div class="page-header jumbotron">
  <div class="container">
    <h1 class="how-do-you-feel">how do you #feel today?</h1>
  </div>
</div>

<div class="container">
  <%= render partial: "layouts/flash_messages", flash: flash %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to image_tag("good.jpg", class:"btn-feelings"), root_path(:feeling => "positive"), :method => :post %>
    </div>

    <div class="col-md-6">
      <%= link_to image_tag("bad.jpg", class:"btn-feelings"), root_path(:feeling => "negative"), :method => :post %>
    </div>
  </div>
</div>
