<% if !flash[:error].nil? %>
    <div><%= flash[:error] %></div>
<% end %>

<h1>Here's Some Information</h1>

<%= @hashtag %>

<ul>
<% @tweets.each do |tweet| %>
  <li><%= tweet.text %></li>
<% end %>
</ul>
<a class="timeline" data-theme="light" data-link-color="#0099ff" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="1" data-show-replies="false" data-screen-name="houglande" href="https://twitter.com/houglande" data-widget-id="708049948340686848">Tweets by @houglande</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
