<div class="page-header jumbotron">
  <div class="container">
    <h1 class="how-do-you-feel">check out "<%= @hashtag["name"] %>"</h1>
  </div>
</div>

<div class="container">
  <%= render partial: "layouts/flash_messages", flash: flash %>
</div>

<div class="container">
  <div class="tweets-row">
    <% @tweets.each do |tweet| %>
      <div class="tweets">
        <blockquote class="twitter-tweet tw-align-center">
          <a href="https://twitter.com/Interior/status/<%= tweet.id %>"></a>
        </blockquote>
      </div>
    <% end %>
  </div>
</div>
