---
http_interactions:
- request:
    method: get
    uri: http://hashtagfeels-92395643.us-east-1.elb.amazonaws.com/positive
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"name":"#FallonTonight","sentiment":"positive ","id":"NTEz","created":"2016-03-15T04:15:24.522123Z"}
  recorded_at: Tue, 15 Mar 2016 16:16:33 GMT
- request:
    method: post
    uri: https://P1Is3lCX4WZxMyXJa9LFvrTG0:ymxuysXjpB2WW3DaNe5g9q2KnuKi9CPc2ZXEXhVkk7HKYWZQUQ@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 15 Mar 2016 16:16:32 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - d0427fe0569ce55c2d2141ddeef21f2b
      X-Response-Time:
      - '22'
      X-Transaction:
      - 10689881487c11a2
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAALJfuAAAAAAAI5rMN1S0O05z5h14McnzqbZmrMc%3D50MLnqbvO1cHxqw9TKFnNABo4xDXyrhiwb4d3YwFwRfVs6mopa"}'
  recorded_at: Tue, 15 Mar 2016 16:16:33 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23FallonTonight
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAALJfuAAAAAAAI5rMN1S0O05z5h14McnzqbZmrMc%3D50MLnqbvO1cHxqw9TKFnNABo4xDXyrhiwb4d3YwFwRfVs6mopa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 15 Mar 2016 16:16:33 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 66b9fced50d1718d761e162d947e3134
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '447'
      X-Rate-Limit-Reset:
      - '1458058993'
      X-Response-Time:
      - '312'
      X-Transaction:
      - f4318c8d60de6eb8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Mar 15 16:15:54 +0000 2016","id":709775137600438272,"id_str":"709775137600438272","text":"RT
        @FallonTonight: .@ShaileneWoodley''s first headshot = \"Cuteness overload\"
        #FallonTonight https:\/\/t.co\/6MQQgspf8Y","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1378452601,"id_str":"1378452601","name":"Elizabeth
        garibay","screen_name":"Elizabethgari10","location":"Jalisco, M\u00e9xico","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":51,"friends_count":218,"listed_count":0,"created_at":"Thu
        Apr 25 02:08:44 +0000 2013","favourites_count":95,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":109,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/699095019420934144\/rkC_OpvD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/699095019420934144\/rkC_OpvD_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1378452601\/1437701350","profile_link_color":"9266CC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Mar 15 03:55:00 +0000 2016","id":709588684597755904,"id_str":"709588684597755904","text":".@ShaileneWoodley''s
        first headshot = \"Cuteness overload\" #FallonTonight https:\/\/t.co\/6MQQgspf8Y","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19777398,"id_str":"19777398","name":"Fallon
        Tonight","screen_name":"FallonTonight","location":"Weeknights 11:35\/10:35c","description":"The
        official Twitter for The Tonight Show Starring @JimmyFallon on @NBC.    (Tweets
        by: @marinarachael @cdriz @thatsso_rachael @NoahGeb) #FallonTonight","url":"http:\/\/t.co\/fgp5RYqr3T","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/fgp5RYqr3T","expanded_url":"http:\/\/www.tonightshow.com","display_url":"tonightshow.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":3522667,"friends_count":19899,"listed_count":9217,"created_at":"Fri
        Jan 30 17:26:46 +0000 2009","favourites_count":94480,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":47184,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"03253E","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/432922341345988609\/3BSxlqQE.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/432922341345988609\/3BSxlqQE.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/432921867259613184\/q89H1EeV_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/432921867259613184\/q89H1EeV_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19777398\/1401723954","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":611,"favorite_count":1837,"entities":{"hashtags":[{"text":"FallonTonight","indices":[57,71]}],"symbols":[],"user_mentions":[{"screen_name":"shailenewoodley","name":"Shailene
        Woodley","id":431765325,"id_str":"431765325","indices":[1,17]}],"urls":[],"media":[{"id":709588683742175232,"id_str":"709588683742175232","indices":[72,95],"media_url":"http:\/\/pbs.twimg.com\/media\/Cdj3JfcW4AAlFcb.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cdj3JfcW4AAlFcb.jpg","url":"https:\/\/t.co\/6MQQgspf8Y","display_url":"pic.twitter.com\/6MQQgspf8Y","expanded_url":"http:\/\/twitter.com\/FallonTonight\/status\/709588684597755904\/photo\/1","type":"photo","sizes":{"large":{"w":593,"h":881,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":593,"h":881,"resize":"fit"},"small":{"w":340,"h":505,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":611,"favorite_count":0,"entities":{"hashtags":[{"text":"FallonTonight","indices":[76,90]}],"symbols":[],"user_mentions":[{"screen_name":"FallonTonight","name":"Fallon
        Tonight","id":19777398,"id_str":"19777398","indices":[3,17]},{"screen_name":"shailenewoodley","name":"Shailene
        Woodley","id":431765325,"id_str":"431765325","indices":[20,36]}],"urls":[],"media":[{"id":709588683742175232,"id_str":"709588683742175232","indices":[91,114],"media_url":"http:\/\/pbs.twimg.com\/media\/Cdj3JfcW4AAlFcb.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cdj3JfcW4AAlFcb.jpg","url":"https:\/\/t.co\/6MQQgspf8Y","display_url":"pic.twitter.com\/6MQQgspf8Y","expanded_url":"http:\/\/twitter.com\/FallonTonight\/status\/709588684597755904\/photo\/1","type":"photo","sizes":{"large":{"w":593,"h":881,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":593,"h":881,"resize":"fit"},"small":{"w":340,"h":505,"resize":"fit"}},"source_status_id":709588684597755904,"source_status_id_str":"709588684597755904","source_user_id":19777398,"source_user_id_str":"19777398"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Mar 15 16:14:45 +0000 2016","id":709774849774899200,"id_str":"709774849774899200","text":"RT
        @FallonTonight: Tonight we have Jesse Eisenberg &amp; @ZoeKravitz! Plus, music
        from @Coldplay! #FallonTonight https:\/\/t.co\/sy6ttC63Ue","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" [...]
