---
http_interactions:
- request:
    method: get
    uri: http://hashtagfeels-92395643.us-east-1.elb.amazonaws.com/negative
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"name":"Leicester","sentiment":"negative ","id":"NDQ5","created":"2016-03-14T22:51:16.098172Z"}
  recorded_at: Tue, 15 Mar 2016 16:16:34 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Leicester
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAALJfuAAAAAAAI5rMN1S0O05z5h14McnzqbZmrMc%3D50MLnqbvO1cHxqw9TKFnNABo4xDXyrhiwb4d3YwFwRfVs6mopa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 15 Mar 2016 16:16:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 72d3bacf4151bde1f04f997e9030c26e
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '446'
      X-Rate-Limit-Reset:
      - '1458058993'
      X-Response-Time:
      - '337'
      X-Transaction:
      - 17ad0df51337dfb6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Mar 15 16:16:07 +0000 2016","id":709775193825275904,"id_str":"709775193825275904","text":"RT
        @br_uk: #LFC fan blasts \u201cembarrassing\u201d Leicester, says NO #LCFC
        players would get in Klopp\u2019s team https:\/\/t.co\/0Kww2LUYz3 https:\/\/t.co\/K\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1073234930,"id_str":"1073234930","name":"Carleb.Arsenal","screen_name":"CarlOkari","location":"NAIROBI,
        KENYA","description":"Still Studying at The University of Nairobi : Tech runs
        the world..ARSENAL My Team","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":229,"friends_count":355,"listed_count":1,"created_at":"Wed
        Jan 09 08:54:47 +0000 2013","favourites_count":99,"utc_offset":43200,"time_zone":"Fiji","geo_enabled":true,"verified":false,"statuses_count":933,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"78803C","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000040375850\/b1657dfe8a6f303b304e1a75cfab84d2.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000040375850\/b1657dfe8a6f303b304e1a75cfab84d2.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/657075776492339200\/dyqlpEr7_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/657075776492339200\/dyqlpEr7_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1073234930\/1445494187","profile_link_color":"9266CC","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Mar 15 14:15:40 +0000 2016","id":709744879593721857,"id_str":"709744879593721857","text":"#LFC
        fan blasts \u201cembarrassing\u201d Leicester, says NO #LCFC players would
        get in Klopp\u2019s team https:\/\/t.co\/0Kww2LUYz3 https:\/\/t.co\/KGrRnwPmNT","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1561123663,"id_str":"1561123663","name":"Bleacher
        Report UK","screen_name":"br_uk","location":"Desktop","description":"Team
        Stream App - https:\/\/t.co\/xUDu5EOKxd","url":"https:\/\/t.co\/ZCkdJxotVM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ZCkdJxotVM","expanded_url":"http:\/\/bleacherreport.com\/uk","display_url":"bleacherreport.com\/uk","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/xUDu5EOKxd","expanded_url":"http:\/\/bleacherreport.com\/mobile","display_url":"bleacherreport.com\/mobile","indices":[18,41]}]}},"protected":false,"followers_count":141627,"friends_count":941,"listed_count":1303,"created_at":"Mon
        Jul 01 17:51:17 +0000 2013","favourites_count":264,"utc_offset":0,"time_zone":"London","geo_enabled":true,"verified":true,"statuses_count":41391,"lang":"en","contributors_enabled":false,"is_translator":fa[...]
